if [ -f ../.envrc ]; then
  source ../.envrc
fi

if [ -f .venv/bin/activate ]; then
  source .venv/bin/activate
else
  conda activate py-notebook
fi

# Check if OPENAI_API_KEY exists
if [ -z "$OPENAI_API_KEY" ]; then
  echo "Warning: OPENAI_API_KEY is not set"
else
  echo "success: OPENAI_API_KEY detected"
fi