if [ -f ../.envrc ]; then
  source ../.envrc
fi
# source .venv/bin/activate

# optional:
# conda activate py-notebook

# Check if OPENAI_API_KEY exists
if [ -z "$OPENAI_API_KEY" ]; then
  echo "Warning: OPENAI_API_KEY is not set"
else
  echo "OPENAI_API_KEY is set"
fi